{
    font-family: Arial, Helvetica, Sans-serif;
    font-size: 12px;

}

body {
    background-color:white;
}

h1 {
    color: #000000;
}

.box {
    width: 90%;
    box-shadow: 2px 2px 5px #000000;
    background-color: #cccccc;
    margin: 0 auto;
}